html {  
    scroll-behavior: smooth;  
}

.landing-page{
    height: 60vh;
    max-width: 100%;
    background-image: url('./assets/images/background.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.landing-page > .container{
    margin-right: 0;
}

.container-pic-intro{
    display: flex;
    height: 30vh;
}

.portrait{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 0px;
    margin-right: 0px;
    max-width: 100%;
}

.portrait > img{
    clip-path: circle();
    width: 250px;
}

.headline{
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 55px;
    margin-left: 50px;
}

.intro > h1{
    font-size: 5.5rem;
}

.intro > h1 > .headline-brendan{
    font-size: 5rem;
}

.h2{
    margin-top: 6rem;
}

@media (max-width: 950px){
    .landing-page{
        height: 50vh;
    }

    .container-pic-intro{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    .portrait{
        margin: auto 0;
    }

    .headline{
        justify-items: center;
        margin: auto 0;
    }

    .portrait > img{
        width: 150px;
    }

    .intro{
        text-align: center;
    }

    .intro > h1{
        font-size: 3.5rem;
    }
    
    .intro > h1 > .headline-brendan{
        font-size: 3rem;
    }
}

.row{
    flex-wrap: wrap;
}


.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
}

#test:hover .image {
    opacity: 0.7;
}
  
#test:hover .middle {
    opacity: 1;
}

.text {
    background-color: #212F4E;
    color: white;
    font-size: 14px;
    padding: 12px 12px;
}