body{
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(35,29,42,1) 48%, rgba(0,0,0,1) 99%);
}

h1{
    text-align: center;
    color: white;
    border: 1px white solid;
    border-radius: 20px;
}

.practice-projects{
    text-align: center;
}

.practice-projects > *{
    display: inline-block;
    padding: 10px;
}

a:link, a:visited {
    background-color: #FF8C00;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1em;
    border: 0;
    outline: 3px solid #333;
    outline-offset: -5px;
    transition: 300ms;
  }
  
a:hover, a:active {
    background-color: orangered;
    outline-offset: 0px;
    outline-color: white;
}

