body{
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(35,29,42,1) 48%, rgba(0,0,0,1) 99%);
}

h1{
    text-align: center;
    color: white;
    border: 1px white solid;
    border-radius: 20px;
}

p{
    color: white;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#body-meme-page{
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

#meme-page{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    font-family: 'Libre Baskerville', serif;
}

.office-cry-scene{
    border: 5px solid white;
    padding: 5px;
}

a:link, a:visited {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1em;
    border: 0;
    outline: 3px solid #333;
    outline-offset: -5px;
    transition: 300ms;
  }
  
a:hover, a:active {
    background-color: orangered;
    outline-offset: 0px;
    outline-color: white;
}