body{
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(35,29,42,1) 48%, rgba(0,0,0,1) 99%);
}

h1{
    text-align: center;
    color: white;
    border: 1px white solid;
    border-radius: 20px;
}

p{
    color: white;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#body-meme-page{
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

#meme-page{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    font-family: 'Libre Baskerville', serif;
}

.office-cry-scene{
    border: 5px solid white;
    padding: 5px;
}